header { 
    padding: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
}

.color {
    color: #fff;
    background-color: #007bff;
}

#content { padding: 10px; }